* {
  margin: 0;
  padding: 0;
  /*outline: 1px solid red;*/
}

body{
  background-color: white;
}

p {
  font-size: medium;
  text-align: left;
}

h2{
  font-size: large;
  margin-bottom: 1em;
}

.lienzo {
  width: 94%;
  padding: 2%;
  height: 85vh;
  align-content: center;
  margin: auto;
  min-width: 800px;
  display: grid;
  grid-template-columns: 10% 70% 20%;
  margin-top: 2%;
  background: lightgoldenrodyellow;
  border-radius: 2%;
  
}



.selector{
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;
  width: 100%;
  margin-top: 15px;
}

.selector:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.selector:active {
	position:relative;
	top:1px;
}

.tiempo {
  margin-bottom: 20px;
}

.tablero {
  display: flex;
  flex-wrap: wrap;
  background-color: #dcd6bc;
  border: 10px solid #dcd6bc;
  margin: auto;
}

div {
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.valido {
  height: 30px;
  width: 30px;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
}

.chequeado {
  height: 30px;
  width: 30px;
  border: 2px solid;
  background-color: #cecab7;
  border-color: #9c998d;
  box-sizing: border-box;
}

.bomba {
  height: 30px;
  width: 30px;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
}

.uno {
  color: #e76346;
}

.dos {
  color: #4199d3;
}

.tres {
  color: #57da59;
}

.cuatro{
  color: #bb41d3;
}
.cinco{
  color: #fffb00;
}
.seis{
  color: #ff00b3;
}
.siete{
  color: #00ffea;
}
.ocho{
  color: #000000;
}

.banderas {
  margin-top: 20px;
}

#resultado {
  margin-bottom: 15px;
  color: #e76346;
}
