.lienzo {
  width: 500px;
  align-content: center;
}

.tablero {
  display: flex;
  flex-wrap: wrap;
  background-color: #dcd6bc;
  margin-left: 50px;
  margin-top: 20px;
  border: 10px solid #dcd6bc;
  margin-bottom: 10px;
}

div {
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;

}
.valid {
  height: 30px;
  width: 30px;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
}

.checked {
  height: 30px;
  width: 30px;
  border: 2px solid;
  background-color: #cecab7;
  border-color: #9c998d;
  box-sizing: border-box;
}

.bomba {
  height: 30px;
  width: 30px;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
}

.uno {
  color: #e76346;
}

.dos {
  color: #4199d3;
}

.tres {
  color: #57da59;
}

.cuatro{
  color: #bb41d3;
}
.cinco{
  color: #fffb00;
}
.seis{
  color: #ff00b3;
}
.siete{
  color: #00ffea;
}
.ocho{
  color: #000000;
}

#resultado {
  margin-top: 5px;
  color: #e76346;
}
